name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: ansible-lint
      uses: ansible/ansible-lint-action@v4.1.0.post0
